*{
  padding: 0;
  margin:0;
  box-sizing: border-box;
}
.container{
  
  color:white;
  text-align: center;
  background: black;
}
.container1{
  color:white;
  background: black;
  padding: 1rem;
  display: flex;
  justify-content: space-around;
}
.list{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  list-style-type: none;
}

